/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}  

/* CUSTOM PROPS */
:root {
  --main-color: #34344d;
  --secondery-color: #9eadcf;
  --tirtiary-color: #5754a8;
  --text-color: #fff; 

  --my-awesome-color: hsla(133, 100%, 50%, 0.781);
  --modal-outer: hsla(0,0%,0%,0.8);
  --modal-inner-bg: hsla(0,0%,100%,1);
}

/* TAGS */
body {
  background-color: var(--main-color);
  color: var(--text-color);
  text-align: center;
}

.title,
.sub-title {
  color: var(--main-color);
}

/*buttons*/
button {
  outline: none;
  border: none;
  padding: .5rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  font-weight: bold;
  text-align: left;
  border-radius: 5px;
  border: 3px solid #fff;
}

button:hover {
  color: #fff;
  background: url(img/stars3.svg);
  border: 3px solid rgb(255, 251, 0);
}

.startScreen {
  width: 100%;
  height: 100%;
}

/*Game area*/

.gameArea {
  display: grid;
  grid-template-columns: 0% 100%;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  background: url(img/stars3.svg);
}

/*Player name and ship name screen.*/
.launch{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(3, 40px);
  grid-template-areas: "nameLabel nameInput"
  "getShip shipName"
  "launchBtn launchBtn"
  "rocket rocket"
  "earth earth";
  align-items: center;
  overflow: hidden;
}

.launch label[for="getName"] {
  grid-area: nameLabel;
  background: var(--main-color);
  font-size: 18px;
}

.launch input[name="getName"] {
  grid-area: nameInput;
}

.launch label[for="shipName"] {
  grid-area: getShip;
  background: var(--main-color);
  font-size: 18px;
}

.launch input[name="ShipName"] {
  grid-area: shipName;
}

.launch button {
  grid-area: launchBtn;
  width: 90px;
  line-height: 22px;
  margin: 0 auto;
  font-size: 18px;
}

.launch img[src="img/rocket.svg"] {
  grid-area: rocket;
  margin: 0 auto;
  position: relative;
  transform: rotate(-45deg);
  bottom: -215px;
}

.launch img[src="img/earth.svg"] {
  grid-area: earth;
  margin: 0 auto;
  position: relative;
  bottom: -100px;
}

/*Fuel tank.

.fuel-meter {
  transform: rotate(-90deg);
  width: 100%;
}

/*question display styles*/

.questionBox {
  width: 350px;
  margin: auto;
  padding: 1rem;
  margin-top: 1rem;
  background: var(--tirtiary-color);
  color: #fff;  
}

.questionContainer {
  padding-bottom: 1rem;  
  text-align: left;
}

/*input questions*/

.questionText {
  font-weight: bold;
  line-height: 1.2;
  padding-bottom: 1rem;
}

.submitAnswerBtn,
.answer {
  outline: none;
  border: none;
  padding: .5rem;
}

.submitAnswerBtn {
  background: var(--main-color);
  color: var(--text-color); 
  padding: .5rem 1rem;  
}

.submitAnswerBtn:hover {
  cursor: pointer;
}

/*multiple qustion and yes no question*/
.answerBtnContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.answerBtn { 
  outline: none;
  border: none;
  padding: .5rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  font-weight: bold;
  text-align: left;
}

/*Animations*/
/*For the rocket to take off at the start of the game.*/
@keyframes takeOff {
  0% {
     bottom: -215Px;
    }
  100% {
    bottom: 500px;
  }
}

.takeOff {
  animation: takeOff 3s linear;
} 