/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}  

/* CUSTOM PROPS */
:root {
  --main-color: #00303F;
  --secondery-color: #F5F4F4;
  --my-awesome-color: hsla(133, 100%, 50%, 0.781);
  --modal-outer: hsla(0,0%,0%,0.8);
  --modal-inner-bg: hsla(0,0%,100%,1);
}

/* TAGS */
body {
  /* Testing */
  background-color: var(--main-color);
  color: var(--secondery-color);
  text-align: center;
}

/*=================
 =  START MODAL   =                                               
 ==================*/
 .modal-start-outer {
  background: var(--modal-outer);
 }

.modal-start-outer, .modal-help-outer {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  /* Hide this modal until we need it */
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
}

.modal-start-inner, .modal-help-inner {
  background: var(--modal-inner-bg);
  height: 80vh;
  width: 80vw;
  padding: 2rem;
  margin: 10vh auto;
  border-radius: 5px;
  min-height: 200px;
  transform: translateY(-200%);
  transition: transform 1s;
}

.modal-start-outer.open, .modal-help-outer.open {
  opacity: 1;
  pointer-events: all;

}

.modal-start-outer.open .modal-start-inner,
.modal-help-outer.open .modal-help-inner {
  transform: translateY(0);
}

.modal-btn {
  padding: 10px;
  border-radius: 5px;
}


/*question display styles*/

.questionBox {
  width: 350px;
  margin: auto;

  padding: 1rem;
  margin-top: 1rem;
  background: #F05454;
}

.questionContainer {
  padding-bottom: 1rem;  
  text-align: left;
}

/*input questions*/

.questionText{
  font-weight: bold;
  line-height: 1.2;
  padding-bottom: 1rem;
}

/*.answer,
.answerBtn {
  height: 25px;
  outline: none;
  border: none;
  padding-left: .5rem;
}*/


/*.answerBtn {
  background-color: lightgreen;
  padding: 0 .5rem;
}*/

/*multiple qustion*/
.answerBtnContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.answerBtn { 
  outline: none;
  border: none;
  padding: .5rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  width: auto;
  cursor: pointer;
  background: lightgreen;
  font-weight: bold;
  text-align: left;
}

.answerBtn:hover {
  background: gray;
  color: #fff;
}

