/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: monospace;
}  

/* CUSTOM PROPS */
:root {
  --main-color: #34344d;
  --secondery-color: #9eadcf;
  --tirtiary-color: #5754a8;
  --text-color: #fff; 
}

/* TAGS */
body,
html {
  height: 100%; 
}

body {
  background-color: var(--main-color);
  color: var(--text-color);
  text-align: center;
  display: flex;
  flex-direction: column;
}

.title,
.sub-title {
  color: var(--main-color);
}

a {
  color: var(--main-color);
  text-decoration: none; 
}

/*containers*/
.wrapper {
  width: 80%; 
  margin: 0 auto; 
}
  
.container { 
  flex: 1 0 auto;
}

/*buttons*/
button {
  outline: none;
  border: none;
  padding: .5rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  font-weight: bold;
  text-align: left;
  border-radius: 5px;
  border: 3px solid #fff;
  font-size: 1.2rem;
  text-transform: uppercase; 
}

button:hover {
  color: #fff;
  background: url(img/stars3.svg);
  border: 3px solid rgb(255, 251, 0);
}

.startScreen {
  width: 100%;
  height: 100%;
}

/*Game area*/

.gameArea {
  display: grid;
  grid-template-columns: 0% 100%;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  background: url(img/stars3.svg);  
}

.start {
  padding-top: 5rem;
}

.start h2, h3 {
  padding-bottom: 1rem;
}

/*game help*/
.help {
  text-align: left; 
}


.endMsg {
  font-size: 2rem;
  padding: 10rem 0; 
}

/*Player name and ship name screen.*/
.launch{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(3, 40px);
  grid-template-areas: "nameLabel nameInput"
  "getShip shipName"
  "launchBtn launchBtn"
  "rocket rocket"
  "earth earth";
  align-items: center;
  overflow: hidden;
}

.launch label[for="getName"] {
  grid-area: nameLabel;
  background: var(--main-color);
  font-size: 18px;
}

.launch input[name="getName"] {
  grid-area: nameInput;
}

.launch label[for="shipName"] {
  grid-area: getShip;
  background: var(--main-color);
  font-size: 18px;
}

.launch input[name="ShipName"] {
  grid-area: shipName;
}

.launch button {
  grid-area: launchBtn;
  width: 90px;
  line-height: 22px;
  margin: 0 auto;
  font-size: 18px;
}

.launch img[src="img/rocket.svg"] {
  grid-area: rocket;
  margin: 0 auto;
  position: relative;
  transform: rotate(-45deg);
  bottom: -225px;
}

.launch img[src="img/earth.svg"] {
  grid-area: earth;
  margin: 0 auto;
  position: relative;
  bottom: -100px;
}

/*Fuel tank.*/
.fuel-display {
  display: grid;
  align-items: center;
  justify-items: center;
}

.fuel-meter {
  transform: translateX(-45%) rotate(-90deg);
  width: 500px;
}

.fuel-meter label {
  font-size: 30px;
  letter-spacing: 3px;
}

.fuel-meter meter {
  width: 350px;
  height: 26px;
  margin-top: 17px;
}

/*question display styles*/
.questionBox {
  width: 350px;
  margin: auto;
  padding: 1rem;
  margin-top: 1rem;
  background: var(--tirtiary-color);
  color: #fff;  
}

.questionContainer {
  padding-bottom: 1rem;  
  text-align: left;
}

/*input questions*/
.questionText {
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 1.2;
  padding-bottom: 1rem;
  outline: none;
}

.qInfo {
  font-size: 1.1rem;
}

.submitAnswerBtn,
.answer {
  outline: none;
  padding: .5rem;
}

.answer {
  padding: .7rem 0;
  padding-left: .5rem;
  font-size: 1.2rem; 
  border-radius: 5px;
  outline: none; 
}

.submitAnswerBtn {
  background: var(--main-color);
  color: var(--text-color); 
  padding: .5rem 1rem; 
  border: 3px solid var(--main-color);   
}

.submitAnswerBtn:hover {
  cursor: pointer;
}

/*multiple qustion and yes no question*/
.answerBtnContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.answerBtn { 
  outline: none;
  padding: .5rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  font-weight: bold;
  text-align: left;
}

/*End Game*/
.landing {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
  "endMsg"
  "playAgain"
  "rocket"
  "mars";
  align-items: center;
  overflow: hidden;
}

.landing p {
  grid-area: endMsg;
  width: 80%;
  margin: 20px auto;
  font-size: 18px;
}

.landing button {
  grid-area: playAgain;
  width: fit-content;
  margin: 0 auto;;
}

.landing img[src="img/mars.svg"] {
  grid-area: mars;
  margin: 0 auto;
  position: relative;
  bottom: -50px;
  z-index: 100;
}

.landing img[src="img/rocket.svg"] {
  grid-area: rocket;
  margin: 0 auto;
  position: relative;
  transform: rotate(-45deg);
  z-index: 50;
}

/*Animations*/
/*For the rocket to take off at the start of the game.*/
@keyframes takeOff {
  0% {
     bottom: -215Px;
    }
  100% {
    bottom: 500px;
  }
}

.takeOff {
  animation: takeOff 3s linear;
} 

/*header styles*/
.header {
  background: var(--secondery-color); 
  padding: 1rem 0;
}

nav {
  display: flex;
  justify-content: space-between; 
}

.nav_link {
  margin-left: 1rem; 
  font-weight: bolder;
  font-size: 1.2rem;
}

.logo {
  color: var(--main-color); 
  font-size: 1.5rem;  
  font-weight: bold;  
}

.main {
  display: flex;
  justify-content: center;
  align-content: center; 
  flex-direction: column;
  height: 100%;  
  width: 50%;  
  margin: auto;   
} 

/*home page*/
.homeTitle {
  color: #fff;
  margin-bottom: 1rem; 
}

/*about page styles*/
.aboutTitle {
  font-size: 2rem;
  margin-bottom: 1rem;  
}

.aboutTitle,
.gameLink {
  color: var(--secondery-color); 
}

.gameLink:hover { 
  text-decoration: underline; 
}

.aboutDescription {
  font-size: 1.5rem;
}

.playBtn {
  align-self: center; 
  margin-top: 1.5rem; 
}

.playBtn a:hover,
.playBtn:hover {
  font-weight: bold;  
  color: #fff; 
}   


/*footer*/
.footer {
  flex-shrink: 0; 
  padding-bottom: 2rem;
}
/*For the rocket landing on Mars if the player wins*/
@keyframes rocketLanding {
  0% {
    top: -300px;
  }
  100% {
    top: 110px;
  }
}

.rocketLanding {
  animation: rocketLanding 3s linear;
  animation-fill-mode: forwards;
}

/*rocket spiralling animation*/
@keyframes rocketSpiral {
  0% {
    bottom: -280px;
    left: -330px;
    transform: rotate(0deg);
  }
  50% {
    bottom: 30px;
    left: -40px;
    transform: rotate(0deg);
  }

  75% {
    bottom: 100px;
    transform: rotate(180deg);
    left: 20%;
  }
  100% {
    bottom: 80px;
    transform: rotate(360deg);
    left: 60%;
  }
}

.rocketSpiral {
  animation: rocketSpiral 8s linear;
  animation-fill-mode: forwards;
}

