* {
	font-family: monospace;
	box-sizing: border-box; 
}

body,
html {
	height: 100%; 
}

body {
	display: flex;
	flex-direction: column;
}

/*:root {
  --main-color: black;
  --secondery-color: white;
}  */

a {
	color: var(--main-color);
	text-decoration: none; 
}

/*.btn {
	font-size: 1.3rem;
	background: #fff;
	color: #000; 
	padding: .5rem;
	text-transform: capitalize;  
}*/

.wrapper {
	width: 80%; 
	margin: 0 auto; 
}
  
.container { 
	flex: 1 0 auto;
}

/*header styles*/
.header {
	background: var(--secondery-color); 
	padding: 1rem 0;
}

nav {
	display: flex;
	justify-content: space-between; 
}

.nav_link {
	margin-left: 1rem; 
	font-weight: bolder;
	font-size: 1.2rem;
}

.logo {
	color: var(--main-color); 
	font-size: 1.5rem;  
	font-weight: bold;  
}

.main {
	display: flex;
	justify-content: center;
	align-content: center; 
	flex-direction: column;
	height: 100%;   
} 

/*home page*/
.home h1 {
	color: #fff;
	margin-bottom: 2rem;
}

/*about page styles*/
.main {
 	width: 50%;  
	margin: auto; 
}

.aboutTitle {
	font-size: 2rem;
	margin-bottom: 1rem;  
}

.aboutTitle,
.gameLink {
	color: var(--secondery-color); 
}

.gameLink:hover { 
	text-decoration: underline; 
}

.aboutDescription {
	font-size: 1.5rem;
}

.playBtn {
	align-self: center; 
	margin-top: 1.5rem; 
}

.playBtn a:hover,
.playBtn:hover {
 	font-weight: bold;  
 	color: #fff; 
}   


/*footer*/
.footer {
	flex-shrink: 0; 
	padding-bottom: 2rem;

}
